# exclude node modules and other instalations directories
node_modules/*

# exclude next cache and build directories
.next/*
public

# exclue eslint config files
.eslintrc.js
.eslintrc.base.js
plopfile.js

storybook.base.js
# exclude config files
.tsconfig.json
**/tsconfig.json
next.config.js

# exclude test config files
jest.config.base.js
jest.conifg.js
**/jest.config.js

# exclude git
.git
.gitignore

**/*.hbs