// ********** base colors **********
$c-blue-0: #212332;
$c-blue-1: #2a2d3e;
$c-blue-2: #2196f3;
$c-blue-3: #19b7e9;

$c-white: #fff;

$c-gray-0: #cfd0d4;
$c-gray-1: #7f818b;

$c-yellow-0: #ffa113;
$c-yellow-1: #ffcf26;

$c-red-0: #ee2727;
